<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>cart</title>
</head>

<body>

	<div class="container">
		<table class="table table-striped" id="tableContent">
			<thead class="thead-dark">
				<tr>
					<th>Ảnh</th>
					<th>Tên</th>
					<th>Số lượng</th>
					<th>Đơn giá </th>
					<th>Thành tiền</th>
				</tr>
			</thead>
			<tbody id="tableBody">
			</tbody>
		</table>

		<br>
		<button class="btn btn-success" data-toggle="modal" data-target="#submitModal">submit</button>

		<!-- The Modal -->
		<div class="modal" id="submitModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Confirm</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" style="text-align: center;">

						<img th:src="@{img/aysat.jpg}" width="200px" height="200px">

					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Wait a sec</button>
						<button type="button" class="btn btn-success" onclick="submit()">Sure</button>
					</div>

				</div>
			</div>
		</div>
	</div>


</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- axios -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript" th:src="@{js/cart.js}"></script>

</html>