<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/login.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="card" style="width: 400px">
			<img class="card-img-top" th:src="@{img/logo-organi.png}" alt="Card image">
			<div class="card-body">
				<h4 class="card-title">Login</h4>
				<form th:action="@{/login}" method="POST">
					<div class="card-text">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<input type="text" class="form-control" placeholder="Email"
									name="email">
							</div>
							<input type="password" class="form-control" placeholder="Password"
								name="password">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
			</div>
		</div>
	</div>
</body>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>