<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemMapper">
	<select id="selectAllItem" resultType="com.training.model.Item">
		SELECT * 
		FROM item
		ORDER BY ID
	</select>
	<select id="getItemByCategory" parameterType="String" resultType="com.training.model.Item">
		SELECT IT.*
		FROM ITEM IT JOIN CATEGORY_ITEM CT_IT ON IT.ID = CT_IT.ITEM_ID
						JOIN CATEGORY CT ON CT.ID = CT_IT.CATEGORY_ID
		WHERE CT.NAME = #{NAME}
	</select>
</mapper>