<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemMapper">
	<select id="selectAllItem" resultType="com.training.model.Item">
		SELECT *
		FROM item
		ORDER BY ID
	</select>
	<select id="getItemByCategory" parameterType="String"
		resultType="com.training.model.Item">
		SELECT IT.*
		FROM item IT JOIN category_item CT_IT ON IT.ID = CT_IT.ITEM_ID
		JOIN category CT ON CT.ID = CT_IT.CATEGORY_ID
		WHERE CT.NAME = #{NAME}
	</select>
	<select id="getItemById" parameterType="int"
		resultType="com.training.model.Item">
		SELECT *
		FROM item
		WHERE ID = #{ID}
	</select>

	<select id="getTopSale" resultType="com.training.model.ItemTopSale">
	SELECT IT.*, TS.AMOUNT
	FROM item IT JOIN TOP_SALE TS
	ON IT.ID = TS.ITEM_ID
	ORDER BY IT.ID
	LIMIT 9;
	</select>
</mapper>