.container {
	overflow: auto;
}

.sticky {
  position: fixed;
  z-index: 1
}
.d-flex {
	height: 40px;
}

.bg-gray {
	background-color: rgba(220, 220, 220, 0.8);
}

.border-left {
	border-style: none;
	border-right: 2px solid gray;
	height: 20px;
}

.navbar-nav {
	padding: 30px;
}

.nav-item {
	padding-left: 50px;
}

.text-after-span {
	margin-bottom: 100px;
}

.flex-fill {
	text-align: center;
}

* {
	font-family: "Times New Roman", Times, serif;
}

.categories {
	margin-top: 1px;
}

/* Bottom right text */
.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: rgba(34, 34, 34, 0.5);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
}