.d-flex {
	height: 40px;
}

.bg-gray {
	background-color: rgba(220, 220, 220, 0.8);
}

.border-left {
	border-style: none;
	border-right: 2px solid gray;
	height: 20px;
}

.navbar-nav {
	padding: 20px;
}

.nav-item {
	padding-left: 20px;
}